<nav class="navbar">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/path_one" routerLinkActive="active">Query Flow</a></li>
    <li><a routerLink="/path_two" routerLinkActive="active">Embedding Flow</a></li>
    <li><a routerLink="/error" routerLinkActive="active">Error Simulate</a></li>
    <li><a routerLink="/delay" routerLinkActive="active">Delay Simulate</a></li>
  </ul>
</nav>

<!-- Main content area where routed components will be displayed -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- <h1>Test Tracing</h1>
<div style="display: flex; justify-content: space-around; width: 300px">
  <button (click)="sendMessage()">Reach Out to Microservice 1</button>
  <button (click)="responseFromApi = ''">Clear</button>
</div>
<div *ngIf="responseFromApi?.length > 0">
  <p style="border: 2px solid bisque">{{ responseFromApi }}</p>
</div> -->
